.App {
  text-align: center;
  padding: 50px;
}

.softplan-logo {
  height: 160px;
}

.marvel-logo {
  height: 80px;
  transform: translateY(-46px);
}

.character-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
}

.character-card {
  position: relative;
  background-color: #151515;
  margin: 12px;
  height: 170px;
  width: 540px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.7);
  color: white;
  cursor: pointer;
  text-align: left;
}

.edit-button {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  opacity: 0.6;
  width: 18px;
  height: 18px;
  padding: 2px;
}

.edit-button:hover {
  background-color: white;
  border-radius: 5px;
}

.save-button {
  font-size: 16px;
  padding: 8px 32px;
  margin: 6px;
  background-color: #151515;
  border-radius: 5px;
  color: #7a7a7a;
  cursor: pointer;
}

.save-button:hover {
  color: white;
  opacity: 0.8;
}

.character-details {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  margin: 36px 24px;
  padding: 24px;
  border: 3px solid #151515;
}

.character-image {
  height: 165px;
  width: 160px;
}

.character-description {
  overflow: hidden;
  height: 98px;
  width: 360px;
  text-overflow: ellipsis;
  opacity: 0.8;
}

.character-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  margin: 36px 24px;
  padding: 24px;
  border: 3px solid #151515;
}

.search-character {
  margin-top: -12px;
  margin-bottom: 24px;
}

.pagination {
  margin: 32px;
}

.pagination span {
  font-size: 24px;
  padding: 6px 12px;
  margin: 6px;
  background-color: #151515;
  border-radius: 5px;
  color: #7a7a7a;
  cursor: pointer;
}

.pagination span:hover {
  color: white;
}

.pagination p {
  display: inline;
  margin: 6px;
  opacity: 0.8;
}

.edit-label {
  color: #7a7a7a;
  transform: translateX(12px);
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .softplan-logo {
    height: 70px;
  }

  .marvel-logo {
    height: 30px;
    transform: translateY(-21px);
  }

  .character-details {
    border: none;
    padding: 0;
    margin: 24px 8px;
  }

  .character-edit {
    border: none;
    padding: 0;
    margin: 24px 8px;
  }

  .character-card {
    height: 130px;
    width: 280px;
  }

  .character-image {
    height: 125px;
    width: 120px;
  }

  .character-description {
    display: none;
    width: 120px;
  }

  .edit-label {
    font-size: 18px;
    transform: translateX(0px);
  }

  .edit-button {
    border: 1px solid black;
    border-radius: 5px;
  }
}
